@import "../variables.scss";

$progress-bar-height: 25px;
$app-width: 500px;

.progressBar {
  width: $app-width;
  height: $progress-bar-height;
  border-radius: 2px;
  border: 2px solid $mauve;
  margin: 5px auto;
  text-align: center;
  position: relative;
}

.progress {
  background-color: $red;
  height: 100%;
  width: 25%;
}

.progress-text {
  position: absolute;
  width: 100%;
  line-height: $progress-bar-height;
}

.button-wrapper {
  text-align: center;
  margin: 0 auto;
}

#bag-creator {
  h1 {
    text-align: center;
  }
}

.form-step {
  width: $app-width;
  margin: 0 auto;
}

.colors {
  .color-choice {
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
    height: 50px;
    width: 50px;
    &:hover {
      opacity: 0.5;
    }

    &.selected {
      border: 1px solid black;
    }
  }
}

.image-overlay {
  max-width: $app-width;
}
