@import "../variables.scss";

.button-wrapper {
  text-align: center;
  margin: 0 auto;
}

#bag-creator {
  h1 {
    text-align: center;
  }
}

.form-step {
  width: $app-width;
  margin: 0 auto;
}

.colors {
  .color-choice {
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
    height: 50px;
    width: 50px;
    &:hover {
      opacity: 0.5;
    }

    &.selected {
      border: 1px solid black;
    }
  }
}

.image-overlay {
  max-width: $app-width;
}
