@import "../variables.scss";

.button-wrapper {
  text-align: center;
  margin: 0 auto;
}

#bag-creator {
  h1 {
    text-align: center;
  }
}

.form-step {
  width: $app-width;
  margin: 0 auto;
}

/*
*/
.image-overlay {
  max-width: 250px;
}
